body{
	margin:0px;
}
.header{
	background-color: crimson;
    height: 160px;
    border-bottom: 5px solid black;
}
.searchbar{
	text-align: center;
    margin-left: 36%;
    border-radius: 20px;
    border: 4px solid black;
    top: 45px;
    position: relative;
    height: 35px;
    width: 300px;
}
.title{
	height: 100px;
    left: 37%;
    position: relative;
}
.left-side{
    float: left;
    width: 50%;
    border-right: 5px solid lightgray;
}
.right-side{
	top: 50px;
    float: left;
    position: relative;
}
tr{
    color: black;
}
